# Backend
backend/.env
backend/__pycache__/
backend/.venv/
backend/*.pyc

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/
frontend/.cache/

# System files
.DS_Store
*.log